@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$screenWidth: 1160px;
$margin: 32px;

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.top {
    background-color: #222222;

    .menu {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;

        &_left {
            display: flex;
            align-items: center;
            list-style-type: none;

            &_item {
                margin-right: 41px;
                cursor: pointer;
            }
        }

        &_right {
            display: flex;
            align-items: center;
            list-style-type: none;

            &_item {
                margin-left: 33px;
                cursor: pointer;
                position: relative;

                .circle {
                    border: 1px solid #F16D7F;
                    width: 19px;
                    border-radius: 19px;
                    height: 19px;
                    position: absolute;
                    background: #F16D7F;
                    right: -9.5px;
                    top: -9.5px;
                }
            }
        }
    }
}

.top_bottom {
    background-color: #F1E4E6;
    box-sizing: border-box;

    .poster {
        max-width: 1600px;
        display: flex;
        justify-content: space-between;

        &_left {
            width: 50%;

            img {
                margin-bottom: -5px;
                width: 100%;
            }
        }

        &_img {
            width: 100%;
        }

        &_right {
            width: 50%;
            padding: 0 auto;
            align-self: center;

            &_text {
                border-left: 12px solid #F16D7F;
                padding-left: 16px;
            }
        }
    }
}

main {

    .categories {
        padding-top: 65px;

        &_items {
            display: flex;
            flex-direction: column;

            &_small {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                p {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 19px;
                    text-align: center;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }


                .card_small_women {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    
                }

                .card_small_men {
                    margin-left: 30px;
                    margin-right: 30px;
                    display: flex;
                    justify-content: center;
                    position: relative;
                }

                .card_small_kids {
                    display: flex;
                    justify-content: center;
                    position: relative;
                }
            }

            &_big {
                width: 100%;
                position: relative;
            }

            img {
                width: 100%;
            }

            .card_text {
                width: 100%;
                height: 100%;
                align-self: center;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: rgba(33, 22, 22, 0.7);
                position: absolute;
                top: 0;
            }
        }   
    }

    .fetured {
        
        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card_items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            .card {
                width: 360px;
                background: #F8F8F8;
                margin: 30px 0 0;

                &:nth-child(3n+2) {
                    margin: 30px 30px 0;
                }

                img {
                    width: 100%;
                }

                .extra_img {
                    width: auto;
                    height: 100%;
                }

                .img {
                    background: #F7E4E2;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    width: 360px;
                    height: 420px;

                    .hover {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        background: rgba(58, 56, 56, 0.86);
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }

                        .button_add-to-cart {
                            background: none;
                            border: 1px solid #ffffff;
                            height: 53px;
                            width: 148px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;

                            font-family: 'Lato';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #FFFFFF;
                        }

                        .cart_img {
                            height: 25px;
                            width: auto;
                            padding-right: 11px;
                        }
                    }
                }

                
            }
        }
    }

    .button {
        display: flex;
        justify-content: center;
        
        .button_all-prod {
            border: 1px solid #FF6A6A;
            padding: 15px 38px;
            background: #fff;
            margin: 50px 0 0;
            cursor: pointer;

            &:hover {
                background: #FF6A6A;
            }
        }
    }
}

.bottom {
    background: #222224;

    ul {
        display: flex;
    }
    .benefits {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 104px;
        margin-top: 95px;
        flex-wrap: wrap;

        .bf_card {
            width: 360px;
            height: 134px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            &:nth-child(2) {
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }

    .subs-and-prom {
        max-width: 1600px;
        margin: 0 auto;
        background-image: url(images/bg_footer.png);
        display: flex;
        justify-content: center;

        .smoth {
            display: flex;
            width: 100%;
            padding-top: 97px;
            padding-bottom: 126px;
            background: rgba(244, 244, 244, 0.7);
        }

        &_left {
            width: 50%;
            height: 100%;
            flex-direction: column;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;

            img {
                margin-bottom: 30px;
            }
        }

        &_right {
            width: 50%;
            height: 100%;
            flex-direction: column;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;

            form {
                display: flex;
                margin-top: 32px;

                input {
                    width: 256px;
                    height: 49px;
                    border: none;
                    border-radius: 50px 0 0 50px;
                    background: #e1e1e1;
                    padding: 7px 22px;
                    box-sizing: border-box;
                }
    
                .button_sub {
                    display: flex;
                    justify-content: center;
                    width: 100px;
                    height: 49px;
                    border: none;
                    border-radius: 0 50px 50px 0;
                    background: #F16D7F;
                    padding: 7px 7px 6px 8px;
                    box-sizing: border-box;
                    cursor: pointer;
    
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    display: flex;
                    align-items: center;
                    color: #222224;
                    
                }
            }
        }
    }

    .copy {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;

        .copy_left {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .copy_right {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .square {
                display: flex;
                width: 32px;
                height: 32px;
                background: #fff;
                margin-left:7px;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    background: #FF6A6A;
                }
            }
        }
    }
}

.colortext {
    color: #F16D7F;
}

.text_h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-transform: uppercase;

    &_cat {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: #222222;
        text-transform: uppercase;
        margin-top: 8px;
    }

    &_featured {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        text-align: center;
        margin-top: 96px;
    }
}

.text_h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
    color: #222222;
    text-transform: uppercase;

    &_cat {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        text-transform: uppercase;
    }

    &_card {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        margin: 25px 16px 0;
    }

    &_bf {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
        margin-top: 28px;
    }

    &_subs-and-prom {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
    }
}

.text_h4 {

    &_subs-and-prom {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
    }
}

.text_p {

    &_featured {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        text-align: center;
        margin-top: 6px;
        margin-bottom: 18px;
    }

    &_card {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin: 12px 16px 0;
    }

    &_add-to-cart {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-left: 11px;
    }

    &_price {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
        margin: 18px 18px 20px;
    }

    &_bf {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        margin-top: 16px;
        opacity: 0.7;
    }

    &_subs-and-prom {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        width: 356px;
        text-align: center;
    }

    &_copy {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
}

@media (max-width: 1024px) {

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu {
        padding-left: 32px;
        padding-right: 32px;
    }

    .middle .categories_items_small .card_small_men {
        margin-left: 19px;
        margin-right: 19px;
    }

    .middle .categories_items_small {
        margin-bottom: 20px;
    }
    .middle .fetured .card_items .card:nth-child(3n+2) {
        margin: 0px 0px 0px;
    }

    .middle .fetured .card_items .card:nth-child(1n+2) {
        margin: 16px 0px 0px 0px;
    }

    .middle .fetured .card_items .card:nth-child(2n+2) {
        margin: 16px 0px 0px 16px;
    }

    .middle .fetured .card_items .card {
        margin: 16px 0px 0px;
    }

    .middle .button .button_all-prod {
        margin: 33px 0 0;
    }

    .bottom .benefits {
        display: flex;
        align-content: center;
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
        margin-top: 65px;
        align-items: center;
    }

    .bottom .benefits .bf_card:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 49px;
        margin-bottom: 49px;
    }

    .text_h3_bf {
        margin-top: 19px;
    }

    .bottom .subs-and-prom .smoth {
        padding-top: 64px;
        padding-bottom: 140px;
        flex-direction: column;
        align-items: center;
    }

    .bottom .subs-and-prom_right {
        padding-top: 48px;
    }

    .bottom .subs-and-prom {
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bottom .copy .copy_left {
        justify-content: flex-start;
        margin-left: 32px;
    }

    .bottom .copy .copy_right {
        justify-content: flex-end;
        margin-right: 32px;
    }
}

@media (max-width: 667px) {
    .top .menu_right_item:nth-child(2n+1) {
        display: none;
    }

    .top .menu {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .top_bottom .poster_left {
        width: 0%;
    }

    .top_bottom .poster_right {
        width: 100%;
        margin: 146px 40px;
    }

    .middle .categories_items_small {
        flex-direction: column;
        align-items: center;
    }

    .middle .categories_items_small .card_small_women {
        width: none;
    }

    .middle .categories_items_small .card_small_men {
        width: none;
        margin: 32px 0;
    }

    .middle .categories_items_small .card_small_kids {
        width: none;
    }

    .extra_img_cat {
        height: 110px;
    }

    .middle .categories_items_small {
        margin-bottom: 32px;
    }

    .middle .fetured .card_items .card .img {
        width: 100%;
    }

    .middle .fetured .card_items .card:nth-child(1n+1) {
        margin: 8px 0px;
    }

    .bottom .subs-and-prom .smoth {
        padding-top: 64px;
        padding-bottom: 100px;
    }

    .bottom .subs-and-prom_right {
        width: auto;
    }

    .bottom .subs-and-prom_right form {
        margin-top: 22px;
    }

    .bottom .subs-and-prom_left {
        width: auto;
    }

    .bottom .copy {
        flex-direction: column-reverse ;
        align-items: center;
    }

    .bottom .copy .copy_left {
        justify-content: normal;
        margin-left: 0px;
        text-align: center;
        width: auto;
        margin-top: 40px;
    }

    .bottom .copy .copy_right {
        justify-content: center;
        margin-right: 0px;
    }

    .bottom .copy {
        padding-top: 43px;
        padding-bottom: 9px;

    }

    .text_p_subs-and-prom {
        width: 90%;
    }

    .text_h4_subs-and-prom {
        font-size: 14px;
    }

    .text_h3 {
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
    }

    .text_h1 {
        font-size: 38px;
        line-height: 45px;
        text-transform: uppercase;
    }
}