@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('/fonts/lato/lato-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

$screenWidth: 1140px;
$margin: 32px;

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

a,
a:active,
a:hover {
    color: #666;
    text-decoration: none;
}

.top {
    background-color: #222222;

    .menu {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;

        &_left {
            display: flex;
            align-items: center;
            list-style-type: none;

            &_item {
                margin-right: 41px;
                cursor: pointer;
            }

            .btn-search {
                background-color: inherit;
                border: none;
            }

            .search-form {
                display: flex;
            }
            .search-field:focus{
                outline: none;
            }
            .search-field {
                box-sizing: border-box;
                width: 200px;
                color: #fafafa;
                padding: 10px;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid #fafafa;
                font-family: 'Lato';
            }
        }

        &_right {
            display: flex;
            align-items: center;
            list-style-type: none;

            &_item {
                margin-left: 33px;
                cursor: pointer;
                position: relative;

                input:focus,
                button:focus {
                outline: none;
                }

                input:focus-visible, 
                button:focus-visible{
                outline: 2px solid #F16D7F;
                }

                #switch-menu_aside {
                display: none;
                }

                #switch-menu_aside:checked ~ .filter-list-wrp {
                display: block;
                }

                .filter {
                    margin: 38px 25px 18px 0px;
                    padding: 13px 16px 16px 16px;
                    width: 360px;
                    box-sizing: border-box;
                    background: #FFFFFF;
                    /* box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); */
                    /* NB! */
                    position: relative;
                }

                .filter-btn {
                    display: block;
                    width: 100%;
                    padding: 0;
                    background-color: transparent;
                    border: none;
                    color: #000000;
                    text-align: left;
                }

                .filter-btn span {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16.8px;
                    text-transform: uppercase;
                }

                .filter-btn svg {
                    margin: 0 0 0 11px;
                    fill: currentColor;
                }

                .filter-btn:hover {
                    color: #F16D7F;
                }

                .filter-btn:active {
                    color: #222224;
                }

                .filter-list-wrp {
                    z-index: 1;
                    display: none;
                    width: 232px;
                    position: absolute;
                    top: 54px;
                    right: 0;
                    padding: 37px 34px;
                    box-sizing: border-box;
                    background: #FFFFFF;
                    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                }

                .filter-list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                .filter-list-item {
                    width: 100%;
                    margin: 24px 0 12px 0;
                    box-sizing: border-box;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16.8px;
                    position: relative;
                }

                .filter-list-item a {
                    text-transform: uppercase;
                    color: #EF5B70;
                    text-decoration: none;
                }

                .filter-list-item:hover::before {
                    background-color: red;
                }

                .filter-list-item:hover a {
                    color: red;
                }

                .filter-list-item:active::before {
                    background-color: #ccc;
                }

                .filter-list-item:active a {
                    color: #ccc;
                }

                .filter-sublist {
                    margin: 12px 0 0 0;
                    padding: 0 0 0 20px;
                    box-sizing: border-box;
                    list-style: none;
                }

                .filter-sublist-item {
                    margin: 0 0 11px 0;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16.8px;
                }

                .filter-sublist-item:last-child {
                    margin: 0 0 24px 0;
                }

                .filter-sublist-item a {
                    color: #6F6E6E;
                    text-decoration: none;
                }

                .filter-sublist-item:hover a {
                    color: #EF5B70;
                }

                .filter-sublist-item:active a {
                    color: #000;
                }

                .circle {
                    color: #ffffff;
                    text-align: center;
                    border: 1px solid #F16D7F;
                    width: 19px;
                    border-radius: 19px;
                    height: 19px;
                    position: absolute;
                    background: #F16D7F;
                    right: -9.5px;
                    top: -9.5px;
                    box-sizing: border-box;
                }

                .btn-cart {
                    background-color: inherit;
                    border: none;
                }

                .cart-block {
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
                    border-radius: 5px;
                    box-sizing: border-box;
                    right: 0;
                    top: 130%;
                    position: absolute;
                    background-color: white;
                    padding: 5px;
                    color: black;
                    z-index: 99;

                    .cartProduct{
                        display: flex;
                        padding: 10px;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .cartProductInfo{
                        padding: 0 10px;
                    }
                    .cartProductInfo h3{
                        margin: 5px 0px;
                    }
                    .cartProductImg{
                        height: 100px;
                    }
                    .cart-item {
                        font-family: 'Lato';
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 300px;
                        margin: 10px;
                    }
                    .right-block{
                        margin-left: 30px;
                        align-self: center;
                        text-align: right;
                    }
                    .product-price{
                    }
                    .product-desc{
                        max-width: 150px;
                    }
                    .product-quantity {
                        margin-top: 15px;
                        font-size: 0.75em;
                    }
                    .buy-btn {
                        margin-top: 5px;
                        background-color: #F16D7F;
                        padding: 5px 15px;
                        border: 1px solid transparent;
                        color: #fafafa;
                        border-radius: 5px;
                        transition: all ease-in-out .4s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.top_bottom {
    background-color: #F1E4E6;
    box-sizing: border-box;

    .poster {
        max-width: 1600px;
        display: flex;
        justify-content: space-between;

        &_left {
            width: 50%;

            img {
                margin-bottom: -5px;
                width: 100%;
            }
        }

        &_img {
            width: 100%;
        }

        &_right {
            width: 50%;
            padding: 0 auto;
            align-self: center;

            &_text {
                border-left: 12px solid #F16D7F;
                padding-left: 16px;
            }
        }
    }
}

main {
    
    .chapter {
        background: #F8F3F4;

        .chapter {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            &-title {
                font-family: 'Lato';
                font-size: 24px;
                font-weight: 400;
                line-height: 28.8px;
                text-transform: uppercase;
                margin: 60px 0 60px;
                width: 50%;
            }

            &-nav {
                margin: 60px 0 60px;
                width: 50%;
                text-align: right;

                &-path {
                    font-family: 'Lato';
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 16.8px;
                    color: #636363;
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;

                    &-li+li:before {
                        padding: 8px;
                        content: "/\00a0";
                    }
                }
            }
        }
    }

    .choice {
        .filters {
            display: flex;

            &-left {
                width: $screenWidth / 3;
                font-family: 'Lato';

                input:focus,
                button:focus {
                outline: none;
                }

                input:focus-visible, 
                button:focus-visible{
                outline: 2px solid #F16D7F;
                }

                #switch-filter {
                display: none;
                }

                #switch-filter:checked ~ .filter-list-wrp {
                display: block;
                }

                .filter {
                    margin: 38px 25px 18px 0px;
                    padding: 13px 16px 16px 16px;
                    width: 360px;
                    box-sizing: border-box;
                    background: #FFFFFF;
                    /* box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); */
                    /* NB! */
                    position: relative;
                }

                .filter-btn {
                    display: block;
                    width: 100%;
                    margin: 0 0 16px 0;
                    padding: 0;
                    background-color: transparent;
                    border: none;
                    color: #000000;
                    text-align: left;
                }

                .filter-btn span {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16.8px;
                    text-transform: uppercase;
                }

                .filter-btn svg {
                    margin: 0 0 0 11px;
                    fill: currentColor;
                }

                .filter-btn:hover {
                    color: #F16D7F;
                }

                .filter-btn:active {
                    color: #222224;
                }

                .filter-list-wrp {
                    z-index: 1;
                    display: none;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 13px 16px 16px 16px;
                    box-sizing: border-box;
                    background: #FFFFFF;
                    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                }

                .filter-list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                .filter-list-item {
                    width: 100%;
                    margin: 0 0 18px 0;
                    padding: 11px;
                    box-sizing: border-box;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16.8px;
                    border-bottom: 1px solid #EBEBEB;
                    position: relative;
                }

                .filter-list-item::before {
                content: "";
                    display: block;
                    width: 5px;
                    height: 37px;
                    background-color: #EF5B70;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                }

                .filter-list-item a {
                    text-transform: uppercase;
                    color: #EF5B70;
                    text-decoration: none;
                }

                .filter-list-item:hover::before {
                    background-color: red;
                }

                .filter-list-item:hover a {
                    color: red;
                }

                .filter-list-item:active::before {
                    background-color: #ccc;
                }

                .filter-list-item:active a {
                    color: #ccc;
                }

                .filter-sublist {
                    margin: 24px 0 0 0;
                    padding: 0 0 0 7px;
                    box-sizing: border-box;
                    list-style: none;
                }

                .filter-sublist-item {
                    margin: 0 0 11px 0;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16.8px;
                }

                .filter-sublist-item:last-child {
                    margin: 0 0 24px 0;
                }

                .filter-sublist-item a {
                    color: #6F6E6E;
                    text-decoration: none;
                }

                .filter-sublist-item:hover a {
                    color: #EF5B70;
                }

                .filter-sublist-item:active a {
                    color: #000;
                }
            }

            &-right {
                width: ($screenWidth / 3)*2;
                display: flex;
                justify-content: flex-start;
            }

            &-btn {
                padding: 13px 16px 16px 16px;
                margin: 38px 25px 18px 0px;
                display: flex;
                border: none;
                background: none;
                align-items: center;

                &:first-child {
                    margin: 38px 25px 18px 0px;
                }

                &-txt {
                    margin-right: 10px;
                    font-family: 'Lato';
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    color: #636363;
                }

                input:focus,
                button:focus {
                    outline: none;
                }

                input:focus-visible, 
                button:focus-visible{
                    outline: 2px solid #F16D7F;
                }

                .list-size {
                    border: none;
                    background-color: transparent;
                    position: relative;
                }

                .list-size-btn-title {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    border: none;
                    font-family: 'Lato';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16.8px;
                    color: #6F6E6E;
                    background-color: transparent;
                    text-align: left;
                    text-transform: uppercase;
                    position: relative;
                }

                .list-size-btn-title svg {
                    fill: #6F6E6E;
                    position: absolute;
                    top: 30%;
                    right: -15px;
                }

                .list-size-btn-title:hover {
                    color: #F16D7F;
                }

                .list-size-btn-title:hover svg {
                    fill: currentColor;
                }
                
                .list-size-btn-title:active {
                    color: black;
                }

                .list-size-btn-title:active svg {
                    fill: currentColor;
                }

                #switch-trend,
                #switch-size,
                #switch-price {
                    display: none;
                }

                #switch-trend:checked ~ .list-size-wrp,
                #switch-size:checked ~ .list-size-wrp,
                #switch-price:checked ~ .list-size-wrp {
                    display: flex;
                }
                
                .list-size-wrp {
                    z-index: 1;
                    display: none;
                    flex-direction: column;
                    margin: 5px 0 0 0;
                    padding: 9.5px 9.5px 9.5px 31px;
                    box-sizing: border-box;
                    background-color: #fff;
                    position: absolute;
                    top: 18px;
                    left: 0px;
                    white-space: nowrap;
                    align-items: flex-start;
                }
                .list-size-item {
                    display: none;
                }

                .list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2)::before,
                .list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4)::before,
                .list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6)::before,
                .list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8)::before {
                    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
                    background-size: cover;
                    background-position: center;
                }

                .list-size-item-title {
                    display: block;
                    margin: 0 0 6px 0;
                    position: relative;
                    text-transform: uppercase;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16.41px;
                    color: #6F6E6E;
                }

                .list-size-item-title:before {
                content: "";
                    display: block;
                    width: 12px;
                    height: 12px;
                    border: 1px solid #EBEBEB;
                    position: absolute;
                    top: 1px;
                    left: -23.5px;
                }
            }
        }
    }

    .categories {
        padding-top: 65px;

        &_items {
            display: flex;
            flex-direction: column;

            &_small {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                p {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 19px;
                    text-align: center;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }


                .card_small_women {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    
                }

                .card_small_men {
                    margin-left: 30px;
                    margin-right: 30px;
                    display: flex;
                    justify-content: center;
                    position: relative;
                }

                .card_small_kids {
                    display: flex;
                    justify-content: center;
                    position: relative;
                }
            }

            &_big {
                width: 100%;
                position: relative;
            }

            img {
                width: 100%;
            }

            .card_text {
                width: 100%;
                height: 100%;
                align-self: center;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: rgba(33, 22, 22, 0.7);
                position: absolute;
                top: 0;
            }
        }   
    }

    .fetured {
        
        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card_items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            .card {
                width: 360px;
                background: #F8F8F8;
                margin: 8px;
                transition: 0.5s;

                &:hover {
                    transform: scale(1.05);
                    z-index: 2;
                }

                img {
                    width: 100%;
                }

                .extra_img {
                    width: auto;
                    height: 100%;
                }

                .img {
                    background: #F7E4E2;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    width: 360px;
                    height: 420px;

                    .hover {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        background: rgba(58, 56, 56, 0.86);
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }

                        .button_add-to-cart {
                            background: none;
                            border: 1px solid #ffffff;
                            height: 53px;
                            width: 148px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;

                            font-family: 'Lato';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #FFFFFF;
                        }

                        .cart_img {
                            height: 25px;
                            width: auto;
                            padding-right: 11px;
                        }
                    }
                }

                
            }
        }
    }

    .poster-product-section {
        background-color: #f7f7f7;
        position: relative;
        border: 1px solid #e5e5e5;

        .poster-product {
            display: flex;

            img {
                margin: 11px auto 42px;
            }
        }

        .poster-product-btn-left {
            border: none;
            height: 47px;
            width: 47px;
            position: absolute;
            top: 46.75%;
            left: 0;
            background-color: rgba(42, 42, 42, 0.15);
        }

        .poster-product-btn-right {
            border: none;
            height: 47px;
            width: 47px;
            position: absolute;
            top: 46.75%;
            right: 0;
            background-color: rgba(42, 42, 42, 0.15);
        }
    }

    .info-product {

        .info-product {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            padding: 65px 0;
            margin: -65px auto 98px;
            position: relative;

            &-collection {
                margin: 0 0 12px;
            }

            &-title {
                margin: 12px 0 24px;
            }

            &-description {
                width: 70%;
                margin: 24px 0 16px;
            }

            &-price {
                margin: 16px 0 65px;
            }

            &-filter {
                display: flex;
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 65px 0 49px;

                &-btn {
                    display: flex;
                    align-items: center;
                    border: none;
                    background: none;
                    padding: 0 3px 0 3px;

                    &:nth-child(2) {
                        margin: 0 25px 0;
                    }

                    &-txt {
                        margin-right: 10px;
                        font-family: 'Lato';
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        color: #636363;
                    }
                }
            }

            &-btn-cart {
                background: none;
                border: 1px solid #FF6A6A;
                height: 47px;
                width: 211px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FF6A6A;

                &-img {
                    height: 25px;
                    width: auto;
                    padding-right: 11px;
                }
            }

            p {
                text-align: center;
                font-family: 'Lato';
            }

            &-line {
                border: 1px solid #eaeaea;
                width: 641px;

                &-color {
                    border: 3px solid #EF5B70;
                    width: 63px;
                }
            }
        }
    }

    .cart {
        margin-top: 96px;
        display: flex;
        font-family: 'Lato', 'Arial', sans-serif;

        .cart {
            display: flex;
            justify-content: space-between;
        }

        &-product {
            display: flex;
            flex-direction: column;
            width: 57.2%;

            &-goods {

                &-card {
                    height: 306px;
                    display: flex;
                    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.1);
                    margin-bottom: 40px;
                    position: relative;

                    &-remove {
                        position: absolute;
                        right: 22px;
                        top: 28px;
                        background: none;
                        border: none;
                        line-height: 0px;
                    }

                    &-info {
                        width: 100%;
                        padding: 22px 31px;

                        &-title {
                            margin-right: 30px;
                            margin-bottom: 42px;
                            font-size: 24px;
                            line-height: 28.8px;
                            color: #222222;
                        }

                        &-price {
                            margin-bottom: 8px;
                            font-size: 22px;
                            line-height: 26.4px;
                            color: #222222;
                        }

                        &-color {
                            margin-bottom: 8px;
                            font-size: 22px;
                            line-height: 26.4px;
                            color: #222222;
                        }

                        &-size {
                            margin-bottom: 8px;
                            font-size: 22px;
                            line-height: 26.4px;
                            color: #222222;
                        }

                        &-quantity {
                            margin-bottom: 8px;
                            font-size: 22px;
                            line-height: 26.4px;
                            color: #222222;

                            &-input {
                                margin-left: 24px;
                                width: 43px;
                                height: 24px;
                                text-align: center;
                                line-height: 28px;
                            }
                        }

                        &-close {
                            position: absolute;
                        }
                    }
                }
            }

            &-options {
                display: flex;
                align-items: center;
                justify-content: space-between;
                align-content: center;

                &-btn {
                    border: 1px solid #a4a4a4;
                    border-radius: 1px;
                    background: none;
                    padding: 17px 40px 16px;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: #222222;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;

            &-title {
                text-transform: uppercase;
                margin: 20px 0 20px;
                color: #222222;
            }

            &-content {

                &-pdata {
                    box-sizing: border-box;
                    min-width: 360px;
                    min-height: 272px;
                    margin: 0 0 0 128px;

                    &-form {
                        display: flex;
                        flex-direction: column;

                        &-country::placeholder {
                            color: #000;
                        }

                        &-quote {
                            color: #a4a4a4;
                            text-transform: uppercase;
                            padding: 12.5px 16.5px 12.5px;
                            border: 1px solid #a4a4a4;
                            background: none;
                            width: 33.3333%;
                            font-size: 11px;
                        }

                        &-state, &-postcode, &-country {
                            text-transform: capitalize;
                            margin-bottom: 20px;
                            padding: 12.5px 16.5px 12.5px;
                            border: 1px solid #a4a4a4;
                        }

                        &-country::placeholder  {
                            color: #a4a4a4;
                        }
                    }
                }

                &-price {
                    box-sizing: border-box;
                    min-width: 360px;
                    min-height: 214px;
                    margin: 57px 0 0 128px;
                    background-color: #F5F3F3;
                    padding: 42px;
    
                    &-sub {
                        margin-bottom: 12px;
                        text-align: right;
                        text-transform: uppercase;
                        font-size: 11px;
                        line-height: 13.2px;
                        font-weight: 300;
                        color: #222222;
                    }
    
                    &-grand {
                        margin-bottom: 21px;
                        text-align: right;
                        text-transform: uppercase;
                        font-size: 16px;
                        line-height: 19.2px;
                        font-weight: 300;
                        color: #222222;
                    }
    
                    &-checkout {
                        margin-top: 17px;
                        background-color: #F16D7F;
                        border: none;
                        height: 50px;
                        width: 100%;
                        text-transform: uppercase;
                        font-size: 16px;
                        line-height: 19.2px;
                        font-weight: 300;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .page-changer {
        width: 283px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 43px;
        margin: 50px auto 0px;
        font-family: 'Lato', 'Arial', sans-serif;

        &_button {
            text-align: center;
            color: #5d5d5d;
            background: #ffffff;
            width: 28.3px;
            border: none;
            border-top: 1px solid #EBEBEB;
            border-bottom: 1px solid #EBEBEB;
            padding: 15px 9px 14px;

            &:first-child {
                padding: 15px 9px 14px 16px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-left: 1px solid #EBEBEB;
            }

            &:nth-child(2) {
                color: #EF5B70;
            }

            &:last-child {
                padding: 15px 16px 14px 9px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-right: 1px solid #EBEBEB;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .registration {
        display: flex;
        margin-top: 64px;

        .registration-form {
            margin: 0 60px 0 0;

            &-pdata {
                display: flex;
                flex-direction: column;
                font-family: 'Lato', sans-serif;

                &-article {
                    font-size: 16px;
                    font-weight: 300;
                    margin-bottom: 20px;
                }

                &-fname {
                    margin-bottom: 20px;
                }

                &-lname {
                    margin-bottom: 31px;
                }

                input {
                    border: 1px solid #a4a4a4;
                    padding: 12.5px 16.5px 15.5px;
                    color: #B1B1B1;
                }
                
                &-gender {
                    margin-bottom: 33px;
                    
                    .label {
                        margin-right: 20px;
                    }

                    .checkbox {
                        display: none;
                    }

                    .text {
                        position: relative;
                        padding: 5px 0 0 40px;
                        display: inline-block;

                        &::before {
                            content: "";
                            display: inline-block;
                            height: 20px;
                            width: 20px;
                            border: 1px solid #a4a4a4;
                            position: absolute;
                            border-radius: 50%;
                            top: 0;
                            left: 0;
                        }
    
                        &::after {
                            content: "";
                            position: absolute;
                            top: 6px;
                            left: 6px;
                            display: block;
                            width: 10px;
                            height: 10px;
                            background-color: #F16D7F;
                            opacity: 0;
                            transition: .2s;
                            border-radius: 50%;
                        }
                    }

                    .checkbox:checked + .text::after {
                        opacity: 1;
                    }
                }

                &-email {
                    margin-bottom: 20px;
                }

                &-password {
                    margin-bottom: 15px;
                }

                &-p {
                    margin-bottom: 39px;
                    font-size: 13px;
                    font-weight: 300;
                    line-height: 15.6px;
                    color: #B1B1B1;
                }

                &-btn {
                    width: 167px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 17px 29px 17px;
                    text-transform: uppercase;
                    color: #fff;
                    background-color: #F16D7F;
                    border: none;
                    position: relative;
                    font-size: 14px;
                    text-align: justify;

                    .text {
                        margin-right: 20px;
                    }

                }
            }
        }

        .registration-info {
            font-family: 'Lato', sans-serif;
            margin: 0 0 0 60px;

            &-article {
                text-transform: uppercase;
            }

            &-article, &-text, &-points {
                margin-bottom: 22px;
                font-size: 24px;
                font-weight: 300;
                line-height: 28.8px;
            }
        }
    }

    .button {
        display: flex;
        justify-content: center;
        
        .button_all-prod {
            font-family: 'Lato';
            color: #FF6A6A;
            border: 1px solid #FF6A6A;
            padding: 15px 38px;
            background: #fff;
            margin: 50px 0 0;
            cursor: pointer;

            &:hover {
                background: #FF6A6A;
            }
        }
    }
}

.bottom {
    background: #222224;

    ul {
        display: flex;
    }
    .benefits {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 104px;
        margin-top: 95px;
        flex-wrap: wrap;

        .bf_card {
            width: 360px;
            height: 134px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            &:nth-child(2) {
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }

    .subs-and-prom {
        font-family: 'Lato', sans-serif;
        max-width: 1600px;
        margin: 0 auto;
        background-image: url(../images/bg_footer.png);
        display: flex;
        justify-content: center;

        .smoth {
            display: flex;
            width: 100%;
            padding-top: 97px;
            padding-bottom: 126px;
            background: rgba(244, 244, 244, 0.7);
        }

        &_left {
            width: 50%;
            height: 100%;
            flex-direction: column;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;

            img {
                margin-bottom: 30px;
            }
        }

        &_right {
            width: 50%;
            height: 100%;
            flex-direction: column;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;

            form {
                display: flex;
                margin-top: 32px;

                input {
                    width: 256px;
                    height: 49px;
                    border: none;
                    border-radius: 50px 0 0 50px;
                    background: #e1e1e1;
                    padding: 7px 22px;
                    box-sizing: border-box;
                    outline: none;
                    font-size: 14px;
                }
    
                .button_sub {
                    display: flex;
                    justify-content: center;
                    width: 100px;
                    height: 49px;
                    border: none;
                    border-radius: 0 50px 50px 0;
                    background: #F16D7F;
                    padding: 7px 7px 6px 8px;
                    box-sizing: border-box;
                    cursor: pointer;
    
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    
                }
            }
        }
    }

    .copy {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;

        .copy_left {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .copy_right {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .square {
                display: flex;
                width: 32px;
                height: 32px;
                background: #fff;
                margin-left:7px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 1s;
                
                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    background: #FF6A6A;
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.color-text {
    color: #F16D7F;
}

.boldtext {
    font-weight: 700;
}

.text_h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-transform: uppercase;

    &_cat {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: #222222;
        text-transform: uppercase;
        margin-top: 8px;
    }

    &_featured {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        text-align: center;
        margin-top: 96px;
    }
}

.text_h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
    color: #222222;
    text-transform: uppercase;

    &_cat {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        text-transform: uppercase;
    }

    &_card {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        margin: 25px 16px 0;
    }

    &_bf {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
        margin-top: 28px;
    }

    &_subs-and-prom {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
    }
}

.text_h4 {

    &_subs-and-prom {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
    }
}

.text_p {

    &_featured {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        text-align: center;
        margin-top: 6px;
        margin-bottom: 18px;
    }

    &_card {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin: 12px 16px 0;
    }

    &_add-to-cart {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-left: 11px;
    }

    &_price {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
        margin: 18px 18px 20px;
    }

    &_bf {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        margin-top: 16px;
        opacity: 0.7;
    }

    &_subs-and-prom {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        width: 356px;
        text-align: center;
    }

    &_copy {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
}



@media (max-width: 1200px) {

    .container {
        padding-left: 8px;
        padding-right: 8px;
    }

    .menu {
        padding-left: 32px;
        padding-right: 32px;
    }

    main .registration {
        margin-left: 16px;
        margin-right: 16px;
    }

    main .registration .registration-form {
        margin-right: 11px;
    }

    main .registration .registration-info {
        margin-left: 11px;
    }

    main .cart .cart {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    main .cart-info {
        flex-direction: column;
        width: 100%;
        margin-top: 64.5px;

        &-title {
            margin: 0 0 20px 0;
        }
    }

    main .cart-info-content {
        display: flex;
        justify-content: center;

        &-pdata {
            margin: 0;
        }

        &-price {
            margin: 39px 0 0 20px;
        }
    }

    main .cart-product {
        width: 100%;
    }

    main .cart-info-pdata {
        margin: 0;
        width: 50%;
    }

    main .cart-info-price {
        margin: 0;
    }

    main .cart-product-options {
        justify-content: space-around;
    }

    main .fetured .card_items {
        flex-direction: row-reverse;
    
        & .card:last-child {
            display: none;
        }
    }

    main .categories_items_small .card_small_men {
        margin-left: 19px;
        margin-right: 19px;
    }

    main .categories_items_small {
        margin-bottom: 20px;
    }

    main .button .button_all-prod {
        margin: 33px 0 0;
    }

    main .choice .filters-left .filter {
        width: 300px;
    }
    .bottom ul {
        display: flex;
        align-content: center;
        flex-direction: column;
        padding-bottom: 64px;
        margin-top: 65px;
        align-items: center;
    }

    .bottom .benefits .bf_card:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 49px;
        margin-bottom: 49px;
    }

    .text_h3_bf {
        margin-top: 19px;
    }

    .bottom .subs-and-prom .smoth {
        padding-top: 64px;
        padding-bottom: 140px;
        flex-direction: column;
        align-items: center;
    }

    .bottom .subs-and-prom_right {
        padding-top: 48px;
    }

    .bottom .subs-and-prom {
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bottom .copy .copy_left {
        justify-content: flex-start;
        margin-left: 32px;
    }

    .bottom .copy .copy_right {
        justify-content: flex-end;
        margin-right: 32px;
    }
}

@media (max-width: 756px) {
    .top .menu_right_item:nth-child(1n+2) {
        display: none;
    }

    .top .menu {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .top_bottom .poster_left {
        width: 0%;
    }

    .top_bottom .poster_right {
        width: 100%;
        margin: 146px 40px;
    }

    main .registration {
        flex-direction: column;

        & .registration-form {
            margin-bottom: 40px;
        }
    }

    main .categories_items_small {
        flex-direction: column;
        align-items: center;
    }

    main .categories_items_small .card_small_women {
        width: none;
    }

    main .categories_items_small .card_small_men {
        width: none;
        margin: 32px 0;
    }

    main .categories_items_small .card_small_kids {
        width: none;
    }

    .extra_img_cat {
        height: 110px;
    }

    .main .categories_items_small {
        margin-bottom: 32px;
    }

    main .chapter .chapter {
        justify-content: center;
    }

    main .chapter .chapter-title {
        text-align: center;
        margin: 50px 0 69px 0; 
    }

    main .choice .filters-btn .list-size-wrp {
        left: -50px;
    }

    main .cart {
        margin-top: 39px;
    }

    main .cart-product-goods-card {
        height: 188px;
    }

    main .cart-info-content {
        flex-direction: column;
        align-items: center;

        &-price {
            margin: 20px 0 0 0;
        }
    }

    main .cart-product-goods-card {
        margin-bottom: 32px;

        &-info {
            padding: 13.5px 17px;
    
            &-title {
                margin-bottom: 25.85px;
                font-size: 16px;
                line-height: 19.2px;
            }
    
            &-price {
                margin-bottom: 4px;
                font-size: 14px;
                line-height: 16.8px;
            }
    
            &-color {
                margin-bottom: 4px;
                font-size: 14px;
                line-height: 16.8px;
            }
    
            &-size {
                margin-bottom: 4px;
                font-size: 14px;
                line-height: 16.8px;
            }
    
            &-quantity {
                margin-bottom: 4px;
                font-size: 14px;
                line-height: 16.8px;

                input {
                    margin-left: 15.22px;
                    width: 23.71px;
                    height: 14.82px;
                }
            }
        }

        &-remove {
            right: 12px;
            top: 17px;
        }
    }
    
    main .cart-product-options-btn {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    main .chapter .chapter {
        flex-direction: column;

        &-title {
            width: 100%;
            margin: 24px 0 32px;
        }

        &-nav {
            width: 100%;
            margin: 0 0 46px;

            &-path {
                justify-content: center;
            }
        }
    }

    main .poster-product-section .poster-product {
        height: 624px;

        img {
            margin: 25px 0 122px
        }
    }

    main .fetured .card_items {
    
        & .card:last-child {
            display: block;
        }

        & .card:nth-child(2) {
            display: none;
        }
    }

    main .info-product {

        & .info-product-line {
            width: 50%;
        }
    
        &-filter-btn {
            font-size: 10px;
            line-height: 12px;
        }
    }

    main .choice {

        & .filters {
            align-items: flex-start;

            &-left {
                width: 20%;

                & .filter-list-wrp {
                    width: 400%;
                }

                & .filter {
                    width: 100%;
                    margin: 24px 0 32px 0;
                    padding: 0;

                    &-btn {
                        margin: 0;

                        & .list-size {
                            width: 50px;

                            &-btn-title {
                                width: 50px;
                            }
                        }

                        & span {
                            display: none;
                        }

                        & svg {
                            height: 25px;
                            width: 37.5px;
                            margin: 0;
                        }
                    }
                }
            }

            &-right {
                width: 80%;
                justify-content: flex-end;

                .filters-btn {
                    margin: 26px 30px 0px 0;
                    padding: 0;

                    & .list-size {

                        &-btn-title {
                            font-size: 12px;
                            line-height: 14.4px;

                            svg {
                                right: -15px;
                            }
                        }
                    }
                    
                    &-txt {
                        font-family: 'Lato', sans-serif;
                        font-size: 12px;
                        line-height: 14.4px;
                    }
                }
            }
        }
    }
    .bottom .subs-and-prom .smoth {
        padding-top: 64px;
        padding-bottom: 100px;
    }

    .bottom .subs-and-prom_right {
        width: auto;
    }

    .bottom .subs-and-prom_right form {
        margin-top: 22px;
    }

    .bottom .subs-and-prom_left {
        width: auto;
    }

    .bottom .copy {
        flex-direction: column-reverse ;
        align-items: center;
    }

    .bottom .copy .copy_left {
        justify-content: normal;
        margin-left: 0px;
        text-align: center;
        width: auto;
        margin-top: 40px;
    }

    .bottom .copy .copy_right {
        justify-content: center;
        margin-right: 0px;
    }

    .bottom .copy {
        padding-top: 43px;
        padding-bottom: 9px;

    }

    .text_p_subs-and-prom {
        width: 90%;
    }

    .text_h4_subs-and-prom {
        font-size: 14px;
    }

    .text_h3 {
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
    }

    .text_h1 {
        font-size: 38px;
        line-height: 45px;
        text-transform: uppercase;
    }
}